{% extends 'layout.html' %}
{% block content %}
<-- Dummy Form for testing... -->
<form action="" method="POST">
	{{ form.hidden_tag() }}
	{{ form.ssn_id.label }}
    {{ form.ssn_id }}
    {{ form.cust_id.label }}
	{{ form.cust_id }}
	{{ form.cust_name.label }}
    {{ form.cust_name }}
    {{ form.cust_age.label }}
    {{ form.cust_age }}
    {{ form.address.label }}
    {{ form.address }}
    {{ form.contact.label }}
    {{ form.contact }}
    {{ form.state.label }}
    {{ form.state }}
    {{ form.city.label }}
    {{ form.city }}
	{{ form.submit }}
	
</form>
{% endblock content %}