{% extends 'layout.html' %}
{% block content %}


<div class="container-login100" >
    <div class="wrap-login101 p-l-55 p-r-55 p-t-80 p-b-30">

        <!-- Update Form -->
        <form action="\" method="GET" class=" validate-form">
            <span class="login100-form-title p-b-37">
                Delete Customer
            </span>
            
            <div class="form-group row">
                <label for="SSN_id" class="col-md-4 fontbold col-form-label text-md-center">Customer SSN ID</label>
                <div class="col-md-6 ">
                    <input type="number" id="txt_SSN_id" class=" validate-input m-b-20 " placeholder="Enter SSN id" name="ssn_id" required autofocus>
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="cust_name" class="col-md-4 fontbold col-form-label text-md-center">Customer Name	</label>
                <div class="col-md-6">
                    <input type="text" id="txt_cust_name" class="validate-input m-b-20" placeholder="Enter Customer Name" name="name" required >
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="Age" class="col-md-4 fontbold col-form-label text-md-center">Age</label>
                <div class="col-md-6">
                    <input type="number" id="txt_Age" class="validate-input m-b-20" placeholder="Enter Age" name="age" required >
                <span class="focus-input100"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="Address" class="col-md-4 fontbold col-form-label text-md-center">Address</label>
                <div class="col-md-6">
                    <input type="text" id="txt_Address" class="validate-input m-b-20" placeholder="Enter Address" name="address" required >
                    <span class="focus-input100"></span>
                </div>
            </div>

                 
            <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn" >
                    Delete 
                </button>
            </div>
            <br/>
        </form>
    </div>
</div>
{% endblock content %}