{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <div class="row">
                <div class="col-6">Account Number :</div>
                <div class="col-6">{{ account.acc_no }}</div>
            </div>
            <div class="row">
                <div class="col-6">Owner Name :</div>
                <div class="col-6">{{ account.Owner.cust_name }}</div>
            </div>
            <div class="row">
                <div class="col-6">Account Type :</div>
                {% if account.acc_type == 'S'%}
                <div class="col-6">Savings</div>
                {% elif account.acc_type == 'C' %}
                <div class="col-6">Current</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6">Account Balance :</div>
                <div class="col-6">{{ account.acc_balance }}</div>
            </div>
            <div>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.depositAmount.label }} : 
                    {{ form.depositAmount }}
                    {{ form.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}