<!DOCTYPE html>
<html>
<head>
	<title>{% if title %} {{title}} {% endif %}</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- awesone fonts css-->
    <link href="static/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- owl carousel css-->
    <link rel="stylesheet" href="static/owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="static/css/style.css">
	
</head>
<body>

	<!-- Customise this Nav Bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
        <div class="container"><a class="navbar-brand">MOODY BANK</a>
            <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                    class="bar1"></span><span class="bar2"></span> <span class="bar3"></span></button>
            <div id="my-nav" class="collapse navbar-collapse">
                
                {% if session.get('ROLE') == "acc_exec" %}
                <ul class="navbar-nav mr-auto">

                    <!-- Customer related operations -->

                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Create Customer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Delete Customer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Update Customer</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('view_customers_status') }}">View All Customers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Search Customer</a></li>
                    <!-- Account related Operations -->

                    <li class="nav-item"><a class="nav-link" href="{{ url_for('view_accounts_status') }}">View All Accounts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('view_accounts_status') }}">Create Customer Accounts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('view_accounts_status') }}">Delete Customer Accounts</a></li>

                </ul>
                {% elif session.get('ROLE') == "teller" %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>

                    <!-- Account related Operations -->
                    <li class="nav-item"><a class="nav-link" href="#">Search Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Deposite Money</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Withdraw Money</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Transfer Money</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Print Statement</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Service</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testinomials">Testimonials</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                {% endif %}

                <form class="form-inline my-2 my-lg-0">
                    {% if not session.get('USER_ID') %}
                    <a href="{{ url_for('login') }}" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">login</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}" class="btn btn-info my-2 my-sm-0 text-uppercase">Logout</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>

	<div class="container">
		{% block content %}
	
		{% endblock content %}
	</div>
</body>
</html>