{% extends 'layout.html' %}
{% block content %}

<!-- Dummy Form for testing... -->
<!-- <form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.submit }}

    <div>
        {% for error in form.password.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
</form> -->


<head>
    <title>Log In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Style Sheets -->
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{{url_for('static', filename='login/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/vendor/animate/animate.css')}}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login/vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body style="background-image: url({{url_for('static',filename='login/images/bg-01.jpg')}}); background-size:cover;">
    
    
    <div class="container-login100" >
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

            <!-- Login Form -->
            <form action="/" method="GET" class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                    Log In
                </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
                    <input class="input100" type="text" name="username" placeholder="EmployeeID">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                    <input class="input100" type="password" name="password" placeholder="password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Log In
                    </button>
                </div>

            </form>

            
        </div>
    </div>
    
    

    <div id="dropDownSelect1"></div>
    
    <!-- Javascript Files -->
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/vendor/daterangepicker/moment.min.js') }}"></script>
    <script src="{{url_for('static',filename='login/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static',filename='login/js/main.js') }}></script>

</body>
{% endblock content %}