{% extends 'layout.html' %}
{% block content %}
    <form class="pt-3" action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
        	<div class="col-4"></div>
            <div class="col align-self-center">
                <fieldset class="form-group">
                    <legend>Login Form</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="form-control btn-success") }}
                    </div>
                </fieldset>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
{% endblock content %}