{% extends "layout.html" %}
{% block content%}
    <form class="pt-3" action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-4"></div>
            <div class="col align-self-center">
                <fieldset class="form-group">
                    <legend>Search Account</legend>
                    <div class="form-group">
                        {{ form.acc_no.label(class="form-control-label") }}
                        {% if form.acc_no.errors %}
                        {{ form.acc_no(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.acc_no.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.acc_no(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-2">OR</div>
                        <div class="col-5"></div>
                    </div>
                    <div class="form-group">
                        {{ form.cust_id.label(class="form-control-label") }}
                        {% if form.cust_id.errors %}
                        {{ form.cust_id(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.cust_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.cust_id(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.acc_type.label(class="form-control-label") }}
                        {% if form.acc_type.errors %}
                        {{ form.acc_type(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.acc_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.acc_type(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="form-control btn-success") }}
                    </div>
                </fieldset>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
{% endblock %}