{% extends "layout.html" %}
{% block content %}
    <form class="pt-3" action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="row" style="font-size: large;">
            <div class="col-4"></div>
            <div class="col align-self-center">
                <fieldset class="form-group">
                    <legend style="font-weight: bold;" class="text-info">Search Customer</legend><hr/>
                    <div class="form-group">
                        {{ form.ssn_id.label(class="form-control-label") }}
                        {% if form.ssn_id.errors %}
                        {{ form.ssn_id(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.ssn_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.ssn_id(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-5"></div><br/><br/>
                        <div class="col-2" style="font-weight: bolder;">OR</div><br/>
                        <div class="col-5"></div>
                    </div>
                    <div class="form-group">
                        {{ form.cust_id.label(class="form-control-label") }}
                        {% if form.cust_id.errors %}
                        {{ form.cust_id(class="form-control is-invalid") }}
                            <div class="alert alert-danger">
                                {% for error in form.cust_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.cust_id(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group"><br/>
                        {{ form.submit(class="form-control btn-primary") }}
                    </div>
                </fieldset>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
{% endblock %}