{% extends 'layout.html' %}
{% block content %}
<-- Dummy Form for testing... -->
<form action="" method="POST">
	{{ form.hidden_tag() }}
	{{ form.acc_no.label }}
	{{ form.acc_no }}
	{{ form.cust_id.label }}
	{{ form.cust_id }}
	{{ form.acc_type.label }}
	{{ form.acc_type }}
	{{ form.submit }}
	<div>
		{% for error in form.acc_no.errors %}
			<span>acc no error - {{ error }}</span>
		{% endfor %}
	</div>
	<div>
		{% for error in form.cust_id.errors %}
			<span>cust id error - {{ error }}</span>
		{% endfor %}
	</div>
</form>
{% endblock content %}