{% extends 'layout.html' %}
{% block content %}
    <div class="row" style="font-size: large;">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <legend class="text-info" style="font-weight: bold;">Detailed Statement</legend><hr/>
            <div class="row">
                <div class="col-6 text-warning",style="font-weight: bold;">Account Number :</div><br/><br/>
                <div class="col-6">{{ account.acc_no }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning",style="font-weight: bold;">Owner Name :</div><br/><br/>
                <div class="col-6">{{ account.Owner.cust_name }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning",style="font-weight: bold;">Owner ID :</div><br/><br/>
                <div class="col-6">{{ account.cust_id }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning",style="font-weight: bold;">Account Balance :</div><br/><br/>
                <div class="col-6">{{ account.acc_balance }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning",style="font-weight: bold;">Account Type :</div><br/><br/>
                {% if account.acc_type == 'S'%}
                <div class="col-6">Savings</div>
                {% elif account.acc_type == 'C' %}
                <div class="col-6">Current</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6 text-warning",style="font-weight: bold;">Account Created :</div><br/><br/>
                <div class="col-6">{{ account.acc_createDate.strftime("%Y-%B-%d") }}</div>
            </div>
            <div class="row">
                <table class="table" id="tblexportData">
                    <tr class="table-primary">
                        <th>Transaction ID</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>From Account</th>
                        <th>To Account</th>
                        <th>Action</th>
                    </tr>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.transaction_id }}</td>
                        <td>{{ transaction.transaction_date.strftime("%Y-%B-%d") }}</td>
                        <td>{{ transaction.transaction_amount }}</td>
                        <td>{{ transaction.from_acc }}</td>
                        <td>{{ transaction.to_acc }}</td>
                        <td>{{ transaction.action }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div>
            <button onclick="exportToExcel('tblexportData', 'user-data')" class="btn btn-success">Export Table Data To Excel File</button>
        </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>


    <script type="text/javascript">
    function exportToExcel(tableID, filename = ''){
        var downloadurl;
        var dataFileType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'export_excel_data.xls';
        
        // Create download link element
        downloadurl = document.createElement("a");
        
        document.body.appendChild(downloadurl);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTMLData], {
                type: dataFileType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;
        
            // Setting the file name
            downloadurl.download = filename;
            
            //triggering the function
            downloadurl.click();
        }
    }
    </script>
{% endblock content %}