{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <div class="row">
            	<div class="col-6">Customer SSN :</div>
            	<div class="col-6">{{ customer.ssn }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer ID :</div>
            	<div class="col-6">{{ customer.cust_id }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer Name :</div>
            	<div class="col-6">{{ customer.cust_name }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer Age :</div>
            	<div class="col-6">{{ customer.cust_age }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer Contact :</div>
            	<div class="col-6">{{ customer.cust_contact }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer Address :</div>
            	<div class="col-6">{{ customer.cust_address }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer City :</div>
            	<div class="col-6">{{ customer.cust_city }}</div>
            </div>
            <div class="row">
            	<div class="col-6">Customer State :</div>
            	<div class="col-6">{{ customer.cust_state }}</div>
            </div>
            <div class="row">
            	<a class="btn btn-success" href="{{ url_for('update_customer', cust_id=customer.cust_id) }}">Update this customer!!!</a>
            	<div class="col-1"></div>
            	<a class="btn btn-success" href="{{ url_for('delete_customer', cust_id=customer.cust_id) }}">Delete this customer!!!</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock content %}