{% extends 'layout.html' %}
{% block content %}
    <div class="row" style="margin-left:50px;margin-top: 30px; font-size: large;">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <div class="row">
            	<div class="col-6 text-warning" style="font-weight: bold;">Account Number :</div>
            	<div class="col-6">{{ account.acc_no }}</div>
            </div><br/>
            <div class="row">
            	<div class="col-6 text-warning" style="font-weight: bold;">Owner Name :</div>
            	<div class="col-6">{{ account.Owner.cust_name }}</div>
            </div><br/>
            <div class="row">
            	<div class="col-6 text-warning" style="font-weight: bold;">Owner ID :</div>
            	<div class="col-6">{{ account.cust_id }}</div>
            </div><br/>
            <div class="row">
            	<div class="col-6 text-warning" style="font-weight: bold;">Account Balance :</div>
            	<div class="col-6">{{ account.acc_balance }}</div>
            </div><br/>
            <div class="row">
            	<div class="col-6 text-warning" style="font-weight: bold;">Account Type :</div>
                {% if account.acc_type == 'S'%}
            	<div class="col-6">Savings</div>
                {% elif account.acc_type == 'C' %}
                <div class="col-6">Current</div>
                {% endif %}
            </div><br/>
            <div class="row">
            	<div class="col-6 text-warning" style="font-weight: bold;">Account Created :</div>
            	<div class="col-6">{{ account.acc_createDate }}</div>
            </div><br/>
            
                {% if session.get('ROLE') == "acc_exec" %}<br/>
            	   <a class="btn btn-danger" href="{{ url_for('delete_account', acc_no=account.acc_no) }}">Delete this account!!!</a>
                {% elif session.get('ROLE') == "teller" %}
                    <div>
                        <div class="col">
                            <a class="btn btn-success" href="{{ url_for('withdraw', acc_no=account.acc_no) }}">Withdraw</a>
                            <a class="btn btn-success" href="{{ url_for('deposit', acc_no=account.acc_no) }}">Deposit</a>
                            <a class="btn btn-success" href="{{ url_for('transfer', acc_no=account.acc_no) }}">Transfer</a>
                            <a class="btn btn-success" href="{{ url_for('acc_statement', acc_no=account.acc_no) }}">Print Statement</a>
                        </div>
                    </div>                    
                {% endif %}
            
        </div>
        <div class="col-3"></div>
    </div>
{% endblock content %}