{% extends 'layout.html' %}
{% block content %}
	<div class="row">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <div class="row">
            	<div>Do you want to update this customer??</div>
            	<div>
            		<form action="", method="POST">
					{{ form.hidden_tag() }}
            	</div>
            	<div>
            		<div>
	            		{{ form.confirm }}
	            		{{ form.confirm.label }}
	            	</div>
            	</div>
            	<div>
	            	{% if form.cust_id %}
	            	<div>
	           			{{ form.cust_id.label }}
	           		</div>
					<div>
						{{ form.cust_id }}
					</div>
					{% elif form.acc_no %}
					<div>
            			{{ form.acc_no.label }}
            		</div>
					<div>
						{{ form.acc_no }}
					</div>
					{% endif %}
					{{ form.submit(class="btn btn-success") }}
				</div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
		
{% endblock content %}