{% extends 'layout.html' %}
{% block content %}

<h2 class="text-info" style="font-weight: bold;">Total Customers in the Bank - {{ customers.total }}</h2> <br/>

<table class="table table-hover ">
	<thead>
		<tr class="table-success">
			<th scope="col">SSN ID</th>
			<th scope="col">Customer ID</th>
			<th scope="col">Customer Name</th>
			<th scope="col">Customer Contact Number</th>
			<th scope="col">Last Updated</th>
			<th scope="col">Operations</th>
		</tr>
	</thead>
	{% for customer in customers.items %}
	<tbody>
		<tr>
			<th  scope="row">{{ customer.ssn }}</th>
			<td>{{ customer.cust_id }}</td>
			<td>{{ customer.cust_name }}</td>
			<td>{{ customer.cust_contact }}</td>
			<td>
			{% if not customer.transactions[-1]%}
				No Transactions
			{% else %}
				{{ customer.transactions[-1].transaction_date }}
			{% endif %}
			</td>
			<td><a href="{{ url_for('show_customer_details', cust_id=customer.cust_id) }}">Show Details</a></td>
		</tr>
		{% endfor%}
	</tbody>
</table>

<nav aria-label="Page navigation">
	<div class="row">
		<ul class="pagination">
			{% for page_num in customers.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
				{% if page_num %}

				  <li class="page-item"><a class="page-link" href="{{ url_for('view_customers_status', page=page_num)}}">{{page_num}}</a></li>
				  {% else %}		
				...		
				{% endif %}
			{% endfor %}
		</ul>
		<ul>
			<a href="{{ url_for('view_customers_status') }}" class="btn btn-primary">Refresh Page</a>
		</ul>
	</div>
</nav>

{% endblock content %}