{% extends 'layout.html' %}
{% block content %}

<h2>Total Accounts in the Bank - {{ accounts.total }}</h2>

<table>
	<tr>
		<th>Customer ID</th>
		<th>Account ID</th>
		<th>Account Type</th>
		<th>Account Creation Date</th>
		<th>Account Balance</th>
		<th>Account Last Updated</th>
	</tr>
	{% for account in accounts.items %}
	<tr>
		<td>{{ account.cust_id }}</td>
		<td>{{ account.acc_no }}</td>
		<td>{{ account.acc_type }}</td>
		<td>{{ account.acc_createDate }}</td>
		<td>{{ account.acc_balance }}</td>
		<td>{{ account.Owner.transactions[-1].transaction_date }}</td>
	</tr>
	{% endfor%}
</table>
{% for page_num in accounts.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
	{% if page_num %}
		<a href="{{ url_for('view_accounts_status', page=page_num)}}"></a>	
	{% else %}
	...		
	{% endif %}
{% endfor %}

{% endblock content %}