{% extends 'layout.html' %}
{% block content %}

<h2>Total Accounts in the Bank - {{ accounts.total }}</h2>

<!-- Table for Account -->

<table class="table table-hover">
	<thead>
		<tr class="table-success">
			<th scope="col">Customer ID</th>
			<th scope="col">Account ID</th>
			<th scope="col">Account Type</th>
			<th scope="col">Account Creation Date</th>
			<th scope="col">Account Balance</th>
			<th scope="col">Account Last Updated</th>
			<th scope="col">Operations</th>
		</tr>
	</thead>
	{% for account in accounts.items %}
	<tr>
		<th scope="row">{{ account.cust_id }}</th>
		<td>{{ account.acc_no }}</td>
		<td>{{ account.acc_type }}</td>
		<td>{{ account.acc_createDate }}</td>
		<td>{{ account.acc_balance }}</td>
		<td>
			{% if not account.Owner.transactions[-1]%}
				No Transactions
			{% else %}
				{{ account.Owner.transactions[-1].transaction_date.strftime("%Y-%B-%d") }}
			{% endif %}
		</td>
		<td><a href="{{ url_for('show_account_details', acc_no=account.acc_no) }}">Show Details</a></td>
	</tr>
	{% endfor%}
</table>

<!-- Page Numbers -->
<nav aria-label="Page navigation">
	<div class="row">
		<ul class="pagination">
		{% for page_num in accounts.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
			{% if page_num %}

				<li class="page-item"><a class="page-link"href="{{ url_for('view_accounts_status', page=page_num)}}">{{page_num}}</a></li>	

			{% else %}
			...		
			{% endif %}
		{% endfor %}
		</ul>
		<ul>
			<a href="{{ url_for('view_accounts_status') }}" class="btn btn-primary">Refresh Page</a>
		</ul>
	</div>
</nav>


{% endblock content %}