{% extends "layout.html" %}
{% block content %}
    <div class="row" style="font-size: large;">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <legend class="text-info" style="font-weight: bold;">Withdraw Money</legend><hr/>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Account Number :</div><br/><br/>
                <div class="col-6">{{ account.acc_no }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Owner Name :</div><br/><br/>
                <div class="col-6">{{ account.Owner.cust_name }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Account Type :</div><br/><br/>
                {% if account.acc_type == 'S'%}
                <div class="col-6">Savings</div>
                {% elif account.acc_type == 'C' %}
                <div class="col-6">Current</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Account Balance :</div><br/> <br/>
                <div class="col-6">{{ account.acc_balance }}</div>
            </div>
            <div>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.withdrawAmount.label(class="text-warning",style="font-weight: bold;") }} : 
                           {{ form.withdrawAmount(style="margin-left:160px;") }}
              <br/><br/> <br/>    {{ form.submit(class="btn btn-danger",style="margin-left:160px;") }}
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}