{% extends "main/layout.html" %}
{% block content %}
	<div class="row" style="font-size: large;">
        <div class="col-3"></div>
        	<div class="col align-self-center">
            	{% if form.acc_no %}
            	<div class="text-warning" style="font-weight: bold;">Do you want to delete this account??</div>
            	{% elif form.cust_id %}
            	<div class="text-warning" style="font-weight: bold;">Do you want to delete this customer??</div>
            	{% endif %}
            	<div>
            		<form action="", method="POST">
					{{ form.hidden_tag() }}
				</div>
				<br/>
            	<div>
            		<div>
	            		{{ form.confirm }}
	            		{{ form.confirm.label }}
	            	</div>
            	</div><br/>
            	<div>
					<div>
            			{{ form.acc_no.label }}
            		</div>
					<div>
						{{ form.acc_no }}
					</div>
					<br/><br/>
					<div class="row">
                        <div class="col col-3"></div>
                        <div class="col align-self-center">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                        <div class="col col-3"><a class="btn btn-primary" href="{{ url_for('main.show_account_details', acc_no=acc_no) }}">Go Back</a></div>
                    </div>
					</form>
				</div>
        	</div>
        <div class="col-3"></div>
    </div>
		
{% endblock content %}