{% extends "main/layout.html" %}
{% block content%}
    <div class="row" style="font-size: large;">
        <div class="col-3"></div>
        <div class="col align-self-center">
            <legend class="text-info" style="font-weight: bold;">Transfer Money</legend><hr/>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Account Number :</div><br/><br/>
                <div class="col-6">{{ account.acc_no }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Owner Name :</div><br/><br/>
                <div class="col-6">{{ account.Owner.cust_name }}</div>
            </div>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">From Account :</div><br/><br/>
                {% if account.acc_type == 'S'%}
                <div class="col-6">Savings</div>
                {% elif account.acc_type == 'C' %}
                <div class="col-6">Current</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6 text-warning" style="font-weight: bold;">Account Balance :</div><br/><br/>
                <div class="col-6">{{ account.acc_balance }}</div>
            </div>
            
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.from_acc.label(class="text-warning",style="font-weight: bold;") }} : 
                        {{ form.from_acc(style="margin-left:200px") }}
                    </div>
                    <div>
                        <br/> {{ form.to_acc.label(class="text-warning",style="font-weight: bold;") }} : 
                        {{ form.to_acc(style="margin-left:224px") }}
                    </div>
                    <div>
                     <br/>  {{ form.amount.label(class="text-warning",style="font-weight: bold;") }} : 
                        {{ form.amount(style="margin-left:230px") }}
                    </div><br/>
                    <div class="row">
                        <div class="col col-3"></div>
                        <div class="col align-self-center">
                            {{ form.submit(class="btn btn-success") }}
                        </div>
                        <div class="col col-3"><a class="btn btn-primary" href="{{ url_for('main.show_account_details', acc_no=account.acc_no) }}">Go Back</a></div>
                    </div>
                </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}